<%- include('headerman.ejs') %>
    <div class="container">
        <h2>
            <a href="/"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Thêm sản phẩm
        </h2>

        <form action="/postblog" method="post">
            <form class="px-4 py-3">
                <br>

                <label class="form-label">Tiêu đề Blog</label>
                <input type="text" name="tieude_blog" class="form-control" placeholder="Nhập tiêu đề blog"><br>
                <label class="form-label">Ảnh Blog</label>
                <input type="text" name="img_blog" class="form-control" placeholder="Nhập link ảnh blog"><br>


                <h5>Content Link</h5>
                <div id="contentLinkContainer">
                    <div class="contentLink">
                        <label class="form-label">Tiêu đề Content Link</label>
                        <input type="text" name="tieudeLink" class="form-control" placeholder="Nhập tiêu đề content link"><br>
                        <label class="form-label">Nội dung</label>
                        <input type="text" name="ndLink" class="form-control" placeholder="Nhập nội dung"><br>
                        <label class="form-label">Tên liên kết</label>
                        <input type="text" name="name" class="form-control" placeholder="Nhập tên liên kết"><br>
                        <label class="form-label">Liên kết</label>
                        <input type="text" name="link" class="form-control" placeholder="Nhập URL liên kết"><br>
                        <label class="form-label">Ảnh liên kết</label>
                        <input type="text" name="imgLink" class="form-control" placeholder="Nhập link ảnh liên kết"><br>
                        <hr style="font-weight: bold; border: 2px solid black;">
                    </div>
                </div>

                <input type="button" class="btn btn-danger" value="Thêm Content Link" onclick="themContentLink()">
                <button class="btn btn-danger" type="submit">Lưu</button>
            </form>
        </form>

        <script>
            function themContentLink() {
                var newDiv = document.createElement("div");
                newDiv.className = "contentLink";

                // Thêm nội dung vào thẻ div mới
                newDiv.innerHTML = `
                <label class="form-label">Tiêu đề Content Link</label>
                <input type="text" name="tieudeLink" class="form-control" placeholder="Nhập tiêu đề content link"><br>
                <label class="form-label">Nội dung</label>
                <input type="text" name="ndLink" class="form-control" placeholder="Nhập nội dung"><br>
                <label class="form-label">Tên liên kết</label>
                <input type="text" name="name" class="form-control" placeholder="Nhập tên liên kết"><br>
                <label class="form-label">Liên kết</label>
                <input type="text" name="link" class="form-control" placeholder="Nhập URL liên kết"><br>
                <label class="form-label">Ảnh liên kết</label>
                <input type="text" name="imgLink" class="form-control" placeholder="Nhập link ảnh liên kết"><br>
                <button style="margin-bottom:5px" type="button" class="btn btn-danger" onclick="xoaContentLink(this)">Xóa Content Link</button>
                <hr style="font-weight: bold; border: 2px solid black;">
            `;

                // Thêm thẻ div mới vào trong container
                document.getElementById("contentLinkContainer").appendChild(newDiv);
            }

            function xoaContentLink(button) {
                // Xóa thẻ div chứa nút bấm
                button.parentElement.remove();
            }
        </script>
    </div>