<%- include('headerman.ejs') %>
    <div class="container">
        <h2>
            <a href="/main"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a>
            Thêm loại sản phẩm</h2>

        <form action="/postloaisp" method="post">

            <br>
            <label class="form-label">Tên loại</label>
            <input type="text" name="name" class="form-control"><br>
            <label class="form-label">Màn hình</label>
            <input type="text" name="manhinh" class="form-control"><br>
            <label class="form-label">Chip</label>
            <input type="text" name="chip" class="form-control"><br>
            <label class="form-label">Ram</label>
            <input type="text" name="ram" class="form-control"><br>
            <label class="form-label">Dung lượng</label>
            <input type="text" name="dungluong" class="form-control"><br>
            <label class="form-label">Camera</label>
            <input type="text" name="camera" class="form-control"><br>
            <label class="form-label">Pin sạc</label>
            <input type="text" name="pinsac" class="form-control"><br>
            <label class="form-label">Cổng sạc</label>
            <input type="text" name="congsac" class="form-control"><br>
            <label class="form-label">Hãng</label>
            <input type="text" name="hang" class="form-control"><br>
            <label class="form-label">Thông tin sản phẩm</label>
            <input type="text" name="thongtin" class="form-control"><br>
            <button class="btn btn-danger" type="submit">Lưu</button>
        </form>

    </div>