<%- include('headerman.ejs') %>
    <div class="container">
        <h2>
            <a href="/main"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a>
            Thêm loại sản phẩm</h2>

        <form action="/postloaichitiet/<%= chitietspid %>" method="post">

            <br>
            <label class="form-label">Tên loại chi tiết</label>
            <input type="text" name="name" class="form-control"><br>
            <label class="form-label">Giá</label>
            <input type="text" name="price" class="form-control"><br>
            <button class="btn btn-danger" type="submit">Lưu</button>
        </form>

    </div>