<%- include('../include/header.ejs') %>
    <div class="container">
        <h2>
            <a href="/"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Thêm sản phẩm</h2>

        <form action="/postblog2" method="post" enctype="multipart/form-data">
            <br>
            <label class="form-label">Tiêu đề Blog</label>
            <input type="text" name="tieude_blog" class="form-control" placeholder="Nhập tiêu đề blog"><br>
            <label class="form-label">Ảnh Blog</label>
            <input type="file" name="imgblog" class="form-control" placeholder="Nhập link ảnh blog"><br>
            <h5>Nội Dung</h5>
            <div id="blogContainer">
                <div class="noidung">
                    <label class="form-label"> Tiêu đề nội dung</label>
                    <input type="text" name="tieude" class="form-control" placeholder="Nhập tiêu đề nội dung Blog"><br>
                    <label class="form-label">Nội dung</label>
                    <input type="text" name="content" class="form-control" placeholder="Nhập nội dung Blog"><br>
                    <label class="form-label">Từ khóa</label>
                    <input type="text" name="keywords" class="form-control" placeholder="Nhập từ khóa"><br>
                    <label class="form-label">Link từ khóa</label>
                    <input type="text" name="urlBase" class="form-control" placeholder="Nhập link từ khóa"><br>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Ảnh Blog</label>
                        <input class="form-control" type="file" name="img" id="formFileMultiple" placeholder="Nhập link ảnh" multiple>
                    </div>
                </div>
            </div>
            <input type="button" class="btn btn-danger" value="Thêm nội dung blog" onclick="themnoidung()">
            <button class="btn btn-danger" type="submit">Lưu</button>
        </form>
        <script>
            function themnoidung() {
                var newDiv = document.createElement("div");
                newDiv.className = "noidung";

                // Thêm nội dung vào thẻ div mới
                newDiv.innerHTML = `
              <label class="form-label"> Tiêu đề nội dung</label>
                        <input type="text" name="tieude" class="form-control" placeholder="Nhập tiêu đề nội dung Blog"><br>
                        <label class="form-label">Nội dung</label>
                        <input type="text" name="content" class="form-control" placeholder="Nhập nội dung Blog"><br>
                        <label class="form-label">Từ khóa</label>
                        <input type="text" name="keywords" class="form-control" placeholder="Nhập từ khóa"><br>
                        <label class="form-label">Link từ khóa</label>
                        <input type="text" name="urlBase" class="form-control" placeholder="Nhập link từ khóa"><br>
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Ảnh Blog</label>
                            <input class="form-control" type="file" name="img" id="formFileMultiple" placeholder="Nhập link ảnh" multiple>
                        </div>
    <button style="margin-bottom:5px" type="button" class="btn btn-danger" onclick="xoanoidung(this)">Xóa Thẻ</button>
`;

                // Thêm thẻ div mới vào trong container
                document.getElementById("blogContainer").appendChild(newDiv);
            }

            function xoanoidung(button) {
                // Xóa thẻ div chứa nút bấm
                button.parentElement.remove();
            }
        </script>
    </div>